langchain
langchain-core
langfuse
langchain_qdrant
langchain_community==0.2.17
langchain-huggingface
sentence-transformers==2.6.0
transformers
asyncio==3.4.3
fastapi==0.111.0
qdrant-client
uvicorn[standard]
unstructured[xlsx]
python-magic
python-dotenv
openpyxl
docx2txt
pymupdf
pydantic
fastapi-utilities
sqlmodel